<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.RTLibComm" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.39088" newVersion="5.0.2.39088" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RTLib" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.39089" newVersion="5.0.2.39089" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DeviceSimulator" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.25004" newVersion="5.1.6.25004" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.OPCClassicSDK.Core" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1062.39746" newVersion="2.1.1062.39746" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.3.22636" newVersion="6.1.3.22636" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.CommonBus" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.38674" newVersion="5.1.6.38674" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAServerConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.26942" newVersion="5.2.2.26942" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.ProtocolHub.ItemDescriber" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.21410" newVersion="5.1.4.21410" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RealTime.Core" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.6.23643" newVersion="5.0.6.23643" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RealTime" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.6.23644" newVersion="5.0.6.23644" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>