<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.30768" newVersion="6.0.1.30768" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.CommonBus" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.38674" newVersion="5.1.6.38674" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAServerConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.26942" newVersion="5.2.2.26942" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DeviceSimulator" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.21410" newVersion="5.1.4.21410" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.OPCClassicSDK.Core" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1062.39746" newVersion="2.1.1062.39746" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.ProtocolHub.ItemDescriber" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.21410" newVersion="5.1.4.21410" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>