<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="6.0.1" targetFramework="net451" />
  <package id="CAS.CommServer.CommonBus" version="5.01.05" targetFramework="net451" />
  <package id="CAS.CommServer.DAServerConfiguration" version="5.01.05" targetFramework="net451" />
  <package id="CAS.CommServer.DeviceSimulator" version="5.01.05" targetFramework="net451" />
  <package id="CAS.CommServer.OPCClassic.SDK.COMWrapper" version="2.01.1063" targetFramework="net451" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net451" />
  <package id="CAS.CommServer.ProtocolHub.Communication" version="4.00.22-Delta" targetFramework="net451" />
  <package id="CAS.CommServer.ProtocolHub.ItemDescriber" version="5.01.05" targetFramework="net451" />
  <package id="CAS.RealTime" version="5.0.5" targetFramework="net451" />
</packages>